<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {% for familyMember in familyMembers %}
  <div>
    <h1>El nombre es: {{familyMember.nombre}}</h1>  
    <h2>Su edad es:{{familyMember.edad}}</h2>
    <h2>Su fecha de cumpleaños es:{{familyMember.cumpleaños}}</h2>
 </div>
    
{% endfor %}
  
</body>
</html>
